.more-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
}
.work-category {
    width: 100%;
}

.work-category-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.work-item {
    padding: 0 10px;
}
.work-image {
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.work-image:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
@media(max-width:768px) {
    .mywork {
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }
    
    .work-category-title {
        font-size: 24px;
        color: white;
    }

    .slick-slider {
        margin-bottom: 20px;
    }
}