.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 10%;
    z-index: 1;
}

.about-sections{
    display: flex;
    gap: 60px;
    z-index: 1;
}
.about-left img{
    width: 300px;
    border-radius: 10px;
    z-index: 1;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 200;
    line-height: 2vw;
    z-index: 1;
    padding-top: 25px;
}
.about-para p span{
    width: 20px;
    height: 20px;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}
.about-skill{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 130px;
    font-size: 20px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}
.about-achievements{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 50px 0px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(290deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 18px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
    z-index: 1;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
    z-index: 1;
}
@media(max-width:768px){
    .about{
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }
    
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        line-height: 25px;
    }
    
    .about-skill p{
        font-size: 16px;
        min-width: 90px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievements{
        width: auto;
        padding-left: 20px;
        gap: 15px;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 28px;
    }
    .about-achievement p{
        text-align: center;
        font-size: 12px;
    }
}